In [1]:
import os
import numpy as np
import pandas as pd
import datetime
import csv
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf

# pd.set_option('display.max_rows', 10)
# pd.set_option('display.notebook_repr_html', True)
# pd.set_option('display.max_columns', 10)

%matplotlib inline
plt.style.use('ggplot')

In [2]:
#import dataset
users = pd.read_csv(os.path.join('datasets', 'airbnb_clean.csv'), index_col = 'id')
users.head()

,account,active,booked,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
id,,,,,,,,,,,,,,,
5ozmhime8v,2013-01-02,2013-01-02:01:48:12,2013-01-05,FEMALE,44.0,facebook,0,en,direct,direct,linked,Web,Mac Desktop,Safari,US
2llh6fo1cp,2013-01-02,2013-01-02:01:57:46,2013-01-04,MALE,47.0,basic,0,en,sem-brand,google,tracked-other,Web,iPad,Mobile Safari,US
n4o9woov3x,2013-01-02,2013-01-02:03:20:05,2013-03-11,FEMALE,56.0,facebook,0,en,direct,direct,linked,Web,Mac Desktop,Safari,US
q7a55cobxp,2013-01-02,2013-01-02:03:44:15,2013-01-16,FEMALE,34.0,basic,0,en,sem-non-brand,google,omg,Web,Mac Desktop,Chrome,US
9dz0er4rej,2013-01-02,2013-01-02:04:01:44,2013-01-20,FEMALE,65.0,facebook,0,en,direct,direct,linked,Web,Windows Desktop,IE,US

In [3]:
users.dtypes

account                     object
active                      object
booked                      object
gender                      object
age                        float64
signup_method               object
signup_flow                  int64
language                    object
affiliate_channel           object
affiliate_provider          object
first_affiliate_tracked     object
signup_app                  object
first_device_type           object
first_browser               object
country_destination         object
dtype: object

In [6]:
users['account'] = pd.to_datetime(users['account'], format='%Y-%m-%d')
users['booked'] = pd.to_datetime(users['booked'], format='%Y-%m-%d')
users['active'] = pd.to_datetime(users['active'], format='%Y-%m-%d:%H:%M:%S')

In [7]:
users.active = users.active.apply(lambda datetime: datetime.date())

In [8]:
users.dtypes

account                    datetime64[ns]
active                             object
booked                     datetime64[ns]
gender                             object
age                               float64
signup_method                      object
signup_flow                         int64
language                           object
affiliate_channel                  object
affiliate_provider                 object
first_affiliate_tracked            object
signup_app                         object
first_device_type                  object
first_browser                      object
country_destination                object
dtype: object

In [9]:
users['active'] = pd.to_datetime(users['active'], format='%Y-%m-%d')

In [31]:
# users.corr()

In [10]:
users['active_to_booked'] = users['booked'] - users['active']

In [11]:
users.active_to_booked.describe()

count                      15508
mean     29 days 17:13:00.913077
std      65 days 09:03:47.989635
min              0 days 00:00:00
25%              0 days 00:00:00
50%              2 days 00:00:00
75%             18 days 00:00:00
max            365 days 00:00:00
Name: active_to_booked, dtype: object

In [12]:
users.active_to_booked.dtypes

dtype('<m8[ns]')

In [13]:
users.columns

Index([u'account', u'active', u'booked', u'gender', u'age', u'signup_method',
       u'signup_flow', u'language', u'affiliate_channel',
       u'affiliate_provider', u'first_affiliate_tracked', u'signup_app',
       u'first_device_type', u'first_browser', u'country_destination',
       u'active_to_booked'],
      dtype='object')

In [14]:
users[ ['account', 'active', 'booked', 'active_to_booked'] ].head()

              account     active     booked  active_to_booked
id
5ozmhime8v 2013-01-02 2013-01-02 2013-01-05            3 days
2llh6fo1cp 2013-01-02 2013-01-02 2013-01-04            2 days
n4o9woov3x 2013-01-02 2013-01-02 2013-03-11           68 days
q7a55cobxp 2013-01-02 2013-01-02 2013-01-16           14 days
9dz0er4rej 2013-01-02 2013-01-02 2013-01-20           18 days