# DS-SF-23 | Lab 02 - Introduction to `pandas`

(Source: [Computing for Data Analysis](https://www.coursera.org/course/compdata))

In [2]:
import os
import pandas as pd

In [3]:
df = pd.read_csv(os.path.join('..', 'datasets', 'ozone.csv'))

> ## Question 1.  Display the dataset's head

In [5]:
df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

In [21]:
print df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

> ## Question 2.  Print the column names of the dataset to the screen, one column name per line

In [24]:
print df.columns

for column in df.columns:
    print column

Index([u'Ozone', u'Solar.R', u'Wind', u'Temp', u'Month', u'Day'], dtype='object')
Ozone
Solar.R
Wind
Temp
Month
Day

> ## Question 3.  Extract the first 2 rows of the data frame and print them to the console. What does the output look like?

In [19]:
df[:2]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

In [25]:
df.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

In [30]:
df.ix[0:1]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

> ## Question 4.  How many observations (i.e., rows) are in this data frame?

In [31]:
len(df)

153

> ## Question 5.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [33]:
df.tail()

     Ozone  Solar.R  Wind  Temp  Month  Day
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

In [34]:
df.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

In [36]:
df[-2:]

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

> ## Question 6. What is the value of Ozone in the 47th row?

In [37]:
df.loc[46]

Ozone       21.0
Solar.R    191.0
Wind        14.9
Temp        77.0
Month        6.0
Day         16.0
Name: 46, dtype: float64

> ## Question 7. How many missing values are in the Ozone column of this data frame?

> ## Question 8. What is the mean of the Ozone column in this dataset?  Exclude missing values (coded as NA) from this calculation

> ## Question 9. Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values are above 90.  What is the mean of Solar.R in this subset?

> ## Question 10. What is the mean of Temp when Month is equal to 6?

> ## Question 11. What was the maximum Ozone value in the month of May?