# DS-SF-23 | Lab 02 - Introduction to `pandas` | Answer Key

(Source: [Computing for Data Analysis](https://www.coursera.org/course/compdata))

In [1]:
import os
import pandas as pd

In [2]:
df = pd.read_csv(os.path.join('..', 'datasets', 'ozone.csv'))

> ## Question 1.  Display the dataset's head

In [3]:
df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

(alternatively using `print`)

In [4]:
print df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

> ## Question 2.  Print the column names of the dataset to the screen, one column name per line

In [5]:
for column in df.columns:
    print column

Ozone
Solar.R
Wind
Temp
Month
Day

> ## Question 3.  Extract the first 2 rows of the data frame and print them to the console. What does the output look like?

In [6]:
df.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

(alternatively using `ix`)

In [7]:
df.ix[0:1]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

> ## Question 4.  How many observations (i.e., rows) are in this data frame?

In [8]:
len(df)

153

> ## Question 5.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [9]:
df.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

> ## Question 6. What is the value of Ozone in the 47th row?

In [10]:
df.ix[47, 'Ozone']

37.0

(alternatively)

In [11]:
df.ix[47,]['Ozone']

37.0

(or)

In [12]:
df.ix[47]['Ozone']

37.0

(or)

In [13]:
df.ix[47].Ozone

37.0

> ## Question 7. How many missing values are in the Ozone column of this data frame?

In [14]:
df.Ozone.isnull().sum()

37

(alternatively)

In [15]:
len(df) - len(df.Ozone.dropna())

37

> ## Question 8. What is the mean of the Ozone column in this dataset?  Exclude missing values (coded as NA) from this calculation

In [16]:
df.Ozone.mean()

42.12931034482759

(alternatively)

In [17]:
df.Ozone.dropna().mean()

42.12931034482759

> ## Question 9. Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values are above 90.  What is the mean of Solar.R in this subset?

In [18]:
subset_df = df[(df.Ozone > 31) & (df.Temp > 90)]

In [19]:
subset_df.head()

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30

In [20]:
subset_df['Solar.R'].mean()

212.8

(because of the dot in `Solar.R`, you cannot do `subset.Solar.R.mean()`)

> ## Question 10. What is the mean of Temp when Month is equal to 6?

In [21]:
df[df.Month == 6].Temp.mean()

79.1

> ## Question 11. What was the maximum Ozone value in the month of May?

In [22]:
df[df.Month == 5].Ozone.max()

115.0