# DS-SF-23 | Lab 02 - Introduction to `pandas`

(Source: [Computing for Data Analysis](https://www.coursera.org/course/compdata))

In [7]:
import os
import pandas as pd

In [8]:
df = pd.read_csv(os.path.join('..', 'datasets', 'ozone.csv'))

> ## Question 1.  Display the dataset's head

In [10]:
df.head(10)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5
5   28.0      NaN  14.9    66      5    6
6   23.0    299.0   8.6    65      5    7
7   19.0     99.0  13.8    59      5    8
8    8.0     19.0  20.1    61      5    9
9    NaN    194.0   8.6    69      5   10

> ## Question 2.  Print the column names of the dataset to the screen, one column name per line

> ## Question 3.  Extract the first 2 rows of the data frame and print them to the console. What does the output look like?

> ## Question 4.  How many observations (i.e., rows) are in this data frame?

> ## Question 5.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

> ## Question 6. What is the value of Ozone in the 47th row?

> ## Question 7. How many missing values are in the Ozone column of this data frame?

> ## Question 8. What is the mean of the Ozone column in this dataset?  Exclude missing values (coded as NA) from this calculation

> ## Question 9. Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values are above 90.  What is the mean of Solar.R in this subset?

> ## Question 10. What is the mean of Temp when Month is equal to 6?

> ## Question 11. What was the maximum Ozone value in the month of May?